.profile-container {
  display: flex;
  gap: 5rem;
  flex: 1;
}

.reservations {
  font-family: 'Red Hat Mono', monospace;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.5rem;
  margin-left: 3rem;
  padding-bottom: 2rem;
}

.profile-name {
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.profile-list {
  display: flex;
  gap: 0.5rem;
  border: 1px solid gray;
  margin-right: 3rem;
  margin-left: 2rem;
}

.profile-list li {
  border-bottom: 0.5px solid gray;
  text-align: center;
  margin-right: 2rem;
  padding: 1rem;
}
